@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    color: #001322;
}

.center {
    margin: auto;
    display: block;
    text-align: center;
}
nav{
    height: 60px;
}
nav,
section {
    width: 100%;
    background-color: #df3037;
    display: inline-flex;
    justify-content: space-evenly;

}

.second-nav {
    height: 40px;
    background-color: #001322;
}

.nav-link {
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;
    transition: all 0.2s;
    text-decoration: none;
}


.nav-link:visited {
    color: #001322;
}

.nav-link:hover {
    color: whitesmoke;
}

.logo-wrapper {
    width: 100%;
    text-align: center;
    background-color: #df3037;
}

img {
    width: 100%;
    height: auto;
}

.oisnack {
    display: block;
    height: auto;
    min-height: 60px;
    padding: 40px auto;
    text-align: center;
}

.oisnack h1,
.oisnack h2 {
    margin: 0;
    font-size: 5rem;
}

.button {
    background-color: whitesmoke;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.button:hover {
    color: #df3037;
}

.social {
    text-decoration: none;
    color: #001322;

}

.social:hover {
    color: #df3037;
}

.header-container{
    width: 100%;
    display: block;
    text-align: center;
}

.howitworks{
    height: auto;
    display: inline-block;
}

.header-container h1{
    font-size: 2.5rem;
}

.points-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.point{
    padding: 10px;
    text-align: center;
    flex-basis: 33%;
}

.point .point-header{
    font-size: 2.5rem;
}

.triple-image-container{
    display: inline-flex;
    justify-content: space-around;
}

.triple-image-container .image-container{
    margin: auto;
}

.triple-image-container .image-container img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 500px){

    .nav-link{
        font-size: 0.8rem;
    }
    .oisnack h2{
        font-size: 3rem;
    }
}